.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  overflow-y: auto;
}

@media (max-width: 1199px) {
  .feed {
    flex: 0.6;
  }
}
@media (max-width: 1000px) {
  .feed {
    flex: 0.8;
  }
}
@media (max-width: 600px) {
  .feed {
    flex: 0.9;
  }
}
@media (max-width: 500px) {
  .feed {
    flex: 1;
  }
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
