.widgets {
  flex: 0.32;
}

@media (max-width: 1000px) {
  .widgets {
    display: none;
  }
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
}

.widgets__searchIcon {
  color: grey;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 1px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.widgets__settingsIcon {
  color: var(--twitter-color);
  cursor: pointer;
}

.trends {
  padding: 10px;
  border-top: 0.1px solid var(--twitter-background);
  cursor: pointer;
}
.first-trend {
  margin: 0;
  padding: 0;
}
.first-trend > p {
  font-size: 13px;
  color: grey;
}
.p1 {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.first-trend > h3 {
  font-size: 15px;
  padding: 5px 0;
}
.show {
  font-size: 15px !important;
  color: var(--twitter-color) !important;
}

.footer {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer > p {
  font-size: 13px;
  color: grey;
  padding: 0 7px;
}
