.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.25;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.siderbar__twitterIcon {
  color: var(--twitter-color);
  font-size: 35px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
}
.sidebar__pen {
  display: none !important;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
}
.profile:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.profile__text {
  margin-left: 20px;
  padding: 0;
}

@media (max-width: 1200px) {
  .sidebar {
    flex: 0.1;
    padding: auto;
  }
  .sidebar__tweet {
    display: none !important;
  }
  .profile {
    margin-left: 20px;
    margin-right: 20px;
  }
  .profile__text {
    display: none !important;
  }
  .sidebar__pen {
    display: block !important;
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    text-transform: inherit !important;
    border-radius: 100px !important;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    flex: 0.15;
  }
}
@media (max-width: 600px) {
  .sidebar {
    flex: 0.1;
  }
}
@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
}
